---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---

<BaseLayout title="Not found">
    <main class="p-24 font-sans text-neutral-700">
        <h1 class="mt-0 mb-16 max-w-xs text-3xl">Page not found</h1>
        <p class="mb-12">
            Sorry, we couldn't find what you were looking for.
            <br /><br />
            <a href="/" class="text-primary-300 underline">Go home</a>.
        </p>
    </main>
</BaseLayout>
