@import '../scss/theme';

.about {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  padding-top: 100px;
}
.about__wrapper {

}

@media all and (max-width: $breakpoint-large) {
  .about {
    padding: 0;
  }
  .about__wrapper {
    width: 100%;
  }
}
