@import "../scss/theme";

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  position: relative;
  z-index: 2;
}

.welcome-text-row {
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.logo {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
  z-index: 1;
  fill: $color-primary30;
  height: 500px;
  opacity: 0.5
}


.about-me-link {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: $color-neutral60;
  .btn__icon {
    margin-right: 5px;
  }
}