@import '../scss/theme';

.description {
  height: auto;
  width: 690px;
  background-color: $color-neutral60;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  flex-direction: column;
  position: relative;
  margin-left: 20px;
}

@media all and (max-width: $breakpoint-large) {
  .description {
    width: 100%;
    margin: 0;
  }
  .description__title {
    font-size: $font-size-body2;
  }
}

.description__title {
  font-weight: bold;
  margin-bottom: 15px;
}

.description__simple-info {
  font-weight: bold;
  color: $color-primary30;
  margin-bottom: 15px;
}

.description__description {
  font-weight: bold;
  margin-bottom: 15px;
}

.description__quote {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 172px;
  font-style: italic;
  text-align: center;
}

.description__content {
  margin-bottom: 20px;
}

.description-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.description-subtitle__text {
  color: $color-neutral5;
  font-weight: 500;
}

.description-subtitle__icon {
  font-size: 18px;
  color: $color-primary30;
  margin-right: 10px;
}

.description-timeline {
  list-style-type: none;
  border-left: 2px solid $color-neutral5;
  padding: 0 0 0 15px;
  position: relative;
  margin: 0 0 20px 80px;
}

.description-timeline__item {
  color: $color-neutral5;
  margin-bottom: 30px;
  position: relative;
}

.description-timeline__item:before {
  content: attr(data-date-end) "\A" attr(data-date-start);
  white-space: pre;
  left: -135px;
  position: absolute;
  font-weight: bold;
  text-align: right;
  font-size: $font-size-body2;
  display: flex;
  top: -5px;
  justify-content: flex-end;
  width: 100px;
}

.description-timeline__item:after {
  position: absolute;
  left: -22px;
  top: 7px;
  background: $color-neutral5;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  display: block;
  content: "";
}

.company {
  display: flex;
  margin-bottom: 10px;
}

.company__name {
  display: flex;
  flex-direction: column;
}

.company__logo {
  height: 25px;
  width: 30px;
  object-fit: scale-down;
  margin-right: 10px;
}
.company__role {
  font-weight: bold;
  margin-top: 3px;
}

.company__title {
  font-weight: bold;
  line-height: 1;
}

.description-timeline__roles {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.description-timeline__role-item {
  margin-bottom: 6px;
}

